$secondary: #CC2B6E

.mat-grid-list
  margin-top: 50px
  background: #484E4A
  text-align: center
  padding-top: 10px
  color: white
  font-family: 'Corn DEMO'

.contact
  text-align: center
  padding-top: 10px
  font-size: 10px
