<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile class="first" [colspan]="2">
    <div style="padding: 25px">WHAT IS D-COIN?<br><br>
      <div style="font-family:'Montserrat'; font-size: 16px">
        D-coin, also known as data coin, is the currency we plan to use to facilitate the exchange of important electronic health record data for pharmaceutical and medical research.
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="background:white; text-align:center" [colspan]="2" >
    <div style="padding: 25px">
      <img src="/assets/images/block.png" width="90%" style="margin-top: 25px">
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!--
<div class = "summary">
  <h2> What is D-coin? </h2>
  <h4>  </h4>
</div>-->
