<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile class="first" [colspan]="2">ABOUT US</mat-grid-tile>
  <mat-grid-tile class="second">
    <div style="font-family:'Corn DEMO'; font-size: 20px">MISSION<br><br>
      <div style="font-family:'Montserrat'; font-size: 16px">Utilize blockchain and payfone to secure user</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="third">
    <div style="font-family:'Corn DEMO'; font-size: 20px">VISION<br><br>
      <div style="font-family:'Montserrat'; font-size: 16px">
        Integrate technology with healthcare to further improve patient’s healthcare experience in the long run
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!--
                <section class="Intro" id="parallax-one">
                    <div class="container">
                        <div class="row product-title-info">
                            <div class="col-md-12">
                                <h1>
                                    About Us
                                </h1>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="Mission" id="section">
                    <div class="container text-center">
                        <h2>
                            MISSION
                        </h2>
                        <h3>
                            Our mission is to utilize blockchain and payfone to secure user
                        </h3>
                    </div>
                </section>
                <section class="Vision">
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>
                                VISION
                            </h2>
                            <h3>
                                Our vision is to integrate technology with healthcare to further improve patient’s healthcare experience in the long run.
                            </h3>
                        </div>
-->
