<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<div class="ct-pageWrapper" id="ct-js-wrapper">
                <section class="company-heading intro-type" id="parallax-one">
                    <div class="container">
                        <div class="row product-title-info">
                            <div class="col-md-12">
                                <h1>
                                    About Us
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);">
                        &nbsp;
                    </div>
                </section>
                <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
                    <div class="container text-center">
                        <h2>
                            MISSION
                        </h2>
                        <h3>
                            Lorem ipsum - dolor
                        </h3>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="red-border">
                                &nbsp;
                            </div>
                            <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis.
                            </p><!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
                        </div>
                    </div>
                </section>
                <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>
                                VISION
                            </h2>
                            <h3>
                                Vestibulum elementum nisi ut
                            </h3>
                            <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis.
                            </p>
                        </div>
                        
