$primary: #00A19B
$secondary: #CC2B6E

.login
  background: $primary
  color: white
  width: 45%
  margin: auto
  border-radius: 10px
  text-align: center
  padding: 35px

.title
  font-family: 'Corn DEMO'
  letter-spacing: 2px

.input
  font-family: 'Montserrat', sans-serif
  margin-top: 40px
  font-size: 14px
  text-align: left
  margin-left: 100px

.user-input
  margin-top: 10px

.error
  font-size: 10px
  color: white
  margin-top: 10px
  font-weight: bold

.login-button
  border: 1px solid white
  border-radius: 2px
  padding: 10px
  background: transparent
  color: white
  font-family: Montserrat
  font-size: 10px
