<div class="login">
  <div class="title">LOGIN<br>
    <div class="input">
      Username<br>
      <input class="user-input" [(ngModel)]="username"><br><br>
      Password<br>
      <input type="password" class="user-input" [(ngModel)]="password"><br><br>
      <button class="login-button" (click)="login()">LOGIN</button>
      <div class="error" *ngIf="this.error == true">
        *Username or password is incorrect! Please try again.
      </div>
      <p style="font-size: 11px; margin-top: 30px">Don't have an account? Register here!</p>
    </div>
</div>
