<div class="row ct-u-paddingBoth20">
    <div class="col-xs-6 col-md-4">
        <div class="lead">
            <i class="lead" aria-hidden="true"></i>
            <p>
                Gregory Wong
            </p>
            <p class="company-icons-subtext hidden-xs">
                Current undergraduate student working towards a bachelor degree in health science with a concentration in Health Care Informatics.Work as the team lead. Responsiblibites include presentation creation, designing, implementing team goals and blockchain.
            </p>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="fDev">
            <i class="fDev" aria-hidden="true"></i>
            <p>
                Jamil Kococal
            </p>
            <p class="company-icons-subtext hidden-xs">
                Praesent sed libero vel ex maximus vulputate nec eu ligula.
            </p>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="bDev">
            <i class="bDev" aria-hidden="true"></i>
            <p>
                Brandon Hwang
            </p>
            <p class="company-icons-subtext hidden-xs">
                Vestibulum elementum nisi ut fermentum lobortis.
            </p>
        </div>
    </div>
</div>
<div class="row ct-u-paddingBoth20">
    <div class="col-xs-6 col-md-4">
        <div class="gDev">
            <i class="gDev" aria-hidden="true"></i>
            <p>
                Rachel Tan
            </p>
            <p class="company-icons-subtext hidden-xs">
                Nullam bibendum felis non laoreet rutrum.
            </p>
        </div>
    </div>
