<div class="row ct-u-paddingBoth20">
    <div class="col-xs-6 col-md-4">
        <div class="lead">
            <i class="lead" aria-hidden="true"></i>
            <p>
                Gregory Wong
            </p>
            <p class="company-icons-subtext hidden-xs">
                Current undergraduate student working towards a bachelor degree in health science with a concentration in Health Care Informatics at Stony Brook University.Worked as the team lead. Responsibilities include presentation creation, designing, implementing team goals and blockchain.
            </p>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="fDev">
            <i class="fDev" aria-hidden="true"></i>
            <p>
                Jamil Kococal
            </p>
            <p class="company-icons-subtext hidden-xs">
                Current undergraduate student working towards a bachelor degree in computer science at Queens College. Worked as a front end developer. Responsibilities include website layout, angular implmentation, and payfone implementation. 
            </p>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="bDev">
            <i class="bDev" aria-hidden="true"></i>
            <p>
                Brandon Hwang 
            </p>
            <p class="company-icons-subtext hidden-xs">
                Current undergraduate student working towards a bachelor degree in computer science at Queens College. Worked as a front end/Security developer. Responsibilities include dashboard design, blockchain implementation and payfone implementation.
            </p>
        </div>
    </div>
</div>
<div class="row ct-u-paddingBoth20">
    <div class="col-xs-6 col-md-4">
        <div class="gDev">
            <i class="gDev" aria-hidden="true"></i>
            <p>
                Rachel Tan
            </p>
            <p class="company-icons-subtext hidden-xs">
                Current undergraduate student working towards a bachelor degree in computer science at Hunter College. Worked as a graphic designer. Responsibilities include colors, images, animations and overall layout of the website. 
            </p>
        </div>
    </div>
