<<<<<<< HEAD
$secondary: #CC2B6E

=======

$primary: #149F98
$secondary: #CC2B6E

.current
  border-bottom: 1.5px solid $primary

.mat-grid-tile:hover
  color: #7d7d7d
  border-bottom: 1.5px solid $secondary
>>>>>>> 5d89f5a80e41b101d0849f40bd98e643adabccc6
.info
  width: 70%
  margin: auto

.title
  font-family: 'Corn DEMO'
  color: white
  letter-spacing: 2px

.about
  background: $secondary

.about-text
  font-family: 'Montserrat', sans-serif
  color: white
  font-size: 12px
