
$primary: #149F98
$secondary: #CC2B6E

.current
  border-bottom: 1.5px solid $primary

.mat-grid-tile:hover
  color: #7d7d7d
  border-bottom: 1.5px solid $secondary
.info
  width: 70%
  margin: auto
