<br><div style="text-align:center; font-family: 'Corn DEMO'; letter-spacing: 2px; color:#484E4A">WINGS OF SAFETY</div><br><br>

<mat-grid-list cols="3" rowHeight="145px" class="info" gutterSize="5px">
  <mat-grid-tile style="background:#50A2AE" [colspan]="2" [rowspan]="2">
    <img src="/assets/images/slide-1.jpg">
  </mat-grid-tile>
  <mat-grid-tile class="about" [rowspan]="2">
    <div class="title">DAEDALUS<br>
    <div class="about-text"><br>Daedalus is security</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="team" [rowspan]="2">
    <div class="title">DAEDALUS<br>
    <div class="about-text"><br>Daedalus is freedom</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="background:#3895A3" [colspan]="2" [rowspan]="2">
    <img src="/assets/images/slide-2.png">
  </mat-grid-tile>
</mat-grid-list>
