$primary: #149F98
$secondary: #E9CB47
$tertiary: #484E4A

.current
  border-bottom: 1.5px solid $primary

.info
  width: 70%
  margin: auto

.title
  font-family: 'Corn DEMO'
  color: #484E4A
  letter-spacing: 2px

.about
  background: $secondary

.about-text
  font-family: 'Montserrat', sans-serif
  color: #484E4A
  font-size: 12px

.team
  background: #cccccc
